# Inside the postgres_exporter.env put the following:
DATA_SOURCE_NAME="postgresql://svc_monitoring:password@{{ hostvars[inventory_hostname]['ansible_host'] }}:5432/test_db1?sslmode=disable"

# or you can use the following to monitor all the databases available on localhost 
DATA_SOURCE_NAME="postgresql://postgres:postgres@{{ hostvars[inventory_hostname]['ansible_host'] }}:5432/?sslmode=disable"